/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Arial, "Noto Sans JP", YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  overflow-x: hidden;
  letter-spacing: 0.07em;
}

a {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

a:hover {
  opacity: 0.8;
}

.kv {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 78px;
}

.kv__background {
  background-color: #222;
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.kv__imgContainer {
  width: 75%;
  height: 87%;
  position: absolute;
  top: 0;
  left: 0;
}

.kv__imgContainer img,
.kv__imgContainer source {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  font-family: "object-fit: cover; object-position: center top;";
}

.kv__textContainer {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.kv-textContainer__summary {
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

.kv-textContainer__name {
  font-weight: bold;
  margin-bottom: 10px;
}

.kv-textContainer__catch {
  font-size: 56px;
  font-weight: 800;
}

.sectionContainer {
  width: 100%;
  margin-bottom: 40px;
}

.sectionContainer__flexBox {
  width: 100%;
  background-color: #f0f0f0;
  padding: 40px 15px;
}

.sectionContainer-flexItem {
  width: 100%;
}

.sectionContainer-flexItem:not(:last-of-type) {
  margin-bottom: 40px;
}

.sectionContainer-flexItem__title {
  margin-bottom: 30px;
}

.sectionContainer-flexItem__img {
  width: 100%;
  margin-bottom: 30px;
}

.sectionContainer-flexItem__summary {
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: 0;
  margin-bottom: 30px;
}

.about {
  background-image: url(../img/top-about_sp.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 50px 15px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .about {
    background-image: url(../img/top-about_sp@2x.jpg);
  }
}

.about__container {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 50px 30px;
}

.about-container__title {
  margin-bottom: 30px;
}

.about-container__detail {
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0;
  margin-bottom: 30px;
}

.topics {
  padding: 40px 15px;
}

.topics__title {
  margin-bottom: 30px;
}

.topics__list {
  margin-bottom: 30px;
}

.topics-listItem {
  border-bottom: 1px solid #ddd;
}

.topics-listItem:not(:last-of-type) {
  margin-bottom: 20px;
}

.topics-listItem__date {
  font-size: 10px;
  color: #cecece;
  font-weight: bold;
  margin-bottom: 10px;
}

.topics-listItem__title {
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 10px;
}

.contact {
  padding: 40px 15px;
  background-color: #f0f0f0;
}

.contact__img {
  width: 100%;
  margin-bottom: 30px;
}

.contact__title {
  margin-bottom: 30px;
}

.contact__detail {
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: 0;
  line-height: 2;
  margin-bottom: 30px;
}

.footer {
  background-color: #525252;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 10px;
}

.u-title {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

.u-btn {
  display: block;
  width: 160px;
  height: 38px;
  color: #fff;
  background-color: #000;
  text-align: center;
  line-height: 38px;
  text-transform: uppercase;
  font-size: 11px;
}
/*# sourceMappingURL=style.css.map */