@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Arial, "Noto Sans JP", YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  overflow-x: hidden;
  letter-spacing: 0.07em;
}

a {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

a:hover {
  opacity: 0.8;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  z-index: 1;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media screen and (min-width: 560px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (min-width: 960px) {
  .header {
    padding: 0 58px;
  }
}

.header__logo {
  display: block;
  width: 190px;
}

@media screen and (min-width: 960px) {
  .header__logo {
    width: 260px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu span {
  text-transform: uppercase;
  display: block;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 0;
}

.is-headerActive .header {
  background-color: #333;
}

.hamburgerButton {
  width: 24px;
  height: 16px;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  margin-right: 7px;
}

.hamburgerButton:hover, .hamburgerButton:focus {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.hamburgerButton__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 24px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: inherit;
  transition: inherit;
  border-radius: 1px;
}

.hamburgerButton__line:after, .hamburgerButton__line:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

.hamburgerButton__line:before {
  top: -5px;
}

.hamburgerButton__line:after {
  top: 5px;
}

.is-navActive .hamburgerButton__line {
  background-color: transparent;
}

.is-navActive .hamburgerButton__line:before,
.is-navActive .hamburgerButton__line:after {
  top: 0;
  background-color: #fff;
}

.is-navActive .hamburgerButton__line:before {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.is-navActive .hamburgerButton__line:after {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.95);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 960px) {
  .nav {
    width: 520px;
    left: initial;
    right: 0;
  }
}

@media screen and (min-width: 960px) {
  .nav-bg {
    width: calc(100vw - 520px);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(34, 34, 34, 0.6);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.is-navActive .nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.is-navActive .nav-bg {
  -webkit-transform: translateX(-520px);
          transform: translateX(-520px);
}

.nav-list {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.nav-list__item {
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  font-weight: 800;
}

.nav-list__item:not(:last-of-type) {
  margin-bottom: 30px;
}

.nav-list__item:first-of-type {
  margin-bottom: 40px;
}

.kv {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 78px;
}

@media screen and (min-width: 960px) {
  .kv {
    margin-bottom: 120px;
  }
}

.kv__background {
  background-color: #222;
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.kv__imgContainer {
  width: 75%;
  height: 87%;
  position: absolute;
  top: 0;
  left: 0;
}

.kv__imgContainer img,
.kv__imgContainer source {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  vertical-align: bottom;
  font-family: "object-fit: cover; object-position: center top;";
}

.kv__textContainer {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

@media screen and (min-width: 560px) {
  .kv__textContainer {
    right: 80px;
  }
}

@media screen and (min-width: 960px) {
  .kv__textContainer {
    top: 40%;
    left: 75%;
    right: initial;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.kv-textContainer__summary {
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

@media screen and (min-width: 960px) {
  .kv-textContainer__summary {
    font-size: 20px;
  }
}

.kv-textContainer__name {
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (min-width: 960px) {
  .kv-textContainer__name {
    font-size: 20px;
  }
}

.kv-textContainer__catch {
  font-size: 56px;
  font-weight: 800;
}

@media screen and (min-width: 960px) {
  .kv-textContainer__catch {
    font-size: 72px;
  }
}

.sectionContainer {
  width: 100%;
  margin-bottom: 40px;
}

.sectionContainer__flexBox {
  width: 100%;
  background-color: #f0f0f0;
  padding: 40px 15px;
}

@media screen and (min-width: 560px) {
  .sectionContainer__flexBox {
    padding: 60px 30px 40px;
  }
}

@media screen and (min-width: 960px) {
  .sectionContainer__flexBox {
    padding: 180px 50px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .sectionContainer__flexBox {
    padding: 180px calc((100vw - 1100px) / 2) 60px;
  }
}

.sectionContainer-flexItem {
  width: 100%;
}

@media screen and (min-width: 560px) {
  .sectionContainer-flexItem {
    max-width: 520px;
  }
}

.sectionContainer-flexItem:not(:last-of-type) {
  margin-bottom: 40px;
}

@media screen and (min-width: 560px) {
  .sectionContainer-flexItem:not(:last-of-type) {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 960px) {
  .sectionContainer-flexItem:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 60px;
  }
}

.sectionContainer-flexItem__title {
  margin-bottom: 30px;
}

.sectionContainer-flexItem__img {
  width: 100%;
  margin-bottom: 30px;
}

.sectionContainer-flexItem__summary {
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: 0;
  margin-bottom: 30px;
}

.about {
  background-image: url(../img/top-about_sp.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 50px 15px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .about {
    background-image: url(../img/top-about_sp@2x.jpg);
  }
}

@media screen and (min-width: 560px) {
  .about {
    background-image: url(../img/top-about_tab.jpg);
    padding: 60px 90px;
  }
}

@media screen and (min-width: 560px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 560px) and (min-resolution: 192dpi) {
  .about {
    background-image: url(../img/top-about_tab@2x.jpg);
  }
}

@media screen and (min-width: 960px) {
  .about {
    background-image: url(../img/top-about_pc.jpg);
    max-width: 1100px;
    margin: 0 auto -100px;
    padding: 110px 50px;
    position: relative;
  }
}

@media screen and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 960px) and (min-resolution: 192dpi) {
  .about {
    background-image: url(../img/top-about_pc@2x.jpg);
  }
}

.about__container {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 50px 30px;
}

@media screen and (min-width: 560px) {
  .about__container {
    padding: 40px 30px;
    max-width: 590px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 960px) {
  .about__container {
    margin: 0;
  }
}

.about-container__title {
  margin-bottom: 30px;
}

.about-container__detail {
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0;
  margin-bottom: 30px;
}

.topics {
  padding: 40px 15px;
}

@media screen and (min-width: 560px) {
  .topics {
    padding: 40px 30px;
  }
}

@media screen and (min-width: 960px) {
  .topics {
    padding: 60px 50px;
  }
}

@media screen and (min-width: 1200px) {
  .topics {
    padding: 60px calc((100vw - 1100px) / 2);
  }
}

.topics__title {
  margin-bottom: 30px;
}

.topics__list {
  margin-bottom: 30px;
}

@media screen and (min-width: 960px) {
  .topics__list {
    width: 700px;
    margin: 0 0 30px auto;
  }
}

@media screen and (min-width: 960px) {
  .topics__btn {
    margin: 0 0 0 auto;
  }
}

.topics-listItem {
  border-bottom: 1px solid #ddd;
}

.topics-listItem:not(:last-of-type) {
  margin-bottom: 20px;
}

.topics-listItem__date {
  font-size: 10px;
  color: #cecece;
  font-weight: bold;
  margin-bottom: 10px;
}

.topics-listItem__title {
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 10px;
}

.contact {
  padding: 40px 15px;
  background-color: #f0f0f0;
}

@media screen and (min-width: 560px) {
  .contact {
    padding: 40px 30px 80px 30px;
  }
}

@media screen and (min-width: 960px) {
  .contact {
    padding: 60px 50px 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    padding: 60px calc((100% - 1100px) / 2) 120px;
  }
}

.contact__img {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 560px) {
  .contact__img {
    max-width: 520px;
  }
}

@media screen and (min-width: 960px) {
  .contact__img {
    width: 47%;
    height: 100%;
    margin-bottom: 0;
  }
}

.contact__title {
  margin-bottom: 30px;
}

.contact__detail {
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: 0;
  line-height: 2;
  margin-bottom: 30px;
}

@media screen and (min-width: 560px) {
  .contact__detail {
    max-width: 520px;
  }
}

@media screen and (min-width: 960px) {
  .contact__detail {
    margin-right: 80px;
  }
}

.footer {
  background-color: #525252;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 10px;
}

.secondary-heading {
  width: 100vw;
  height: calc(100vw * 1.2);
  position: relative;
}

@media screen and (min-width: 560px) {
  .secondary-heading {
    height: calc(100vw * 0.78);
  }
}

@media screen and (min-width: 960px) {
  .secondary-heading {
    height: calc(100vw * 0.32);
  }
}

.secondary-heading.--small {
  height: 100vw;
}

@media screen and (min-width: 560px) {
  .secondary-heading.--small {
    height: calc(100vw * 0.78);
  }
}

@media screen and (min-width: 960px) {
  .secondary-heading.--small {
    height: calc(100vw * 0.32);
  }
}

.secondary-heading__bg {
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100vw * 1.2);
  background-color: #222;
}

@media screen and (min-width: 560px) {
  .secondary-heading__bg {
    height: calc(100vw * 0.78);
  }
}

@media screen and (min-width: 960px) {
  .secondary-heading__bg {
    height: calc(100vw * 0.32);
  }
}

.secondary-heading__bg.--small {
  height: 100vw;
}

@media screen and (min-width: 560px) {
  .secondary-heading__bg.--small {
    height: calc(100vw * 0.78);
  }
}

@media screen and (min-width: 960px) {
  .secondary-heading__bg.--small {
    height: calc(100vw * 0.32);
  }
}

.secondary-heading__imgContainer {
  width: 75vw;
  position: absolute;
  top: 0;
  left: 0;
}

.secondary-heading__imgContainer img,
.secondary-heading__imgContainer source {
  width: 100%;
  vertical-align: bottom;
}

.secondary-heading__textContainer {
  color: #fff;
  position: absolute;
  top: 30%;
  right: 30px;
}

@media screen and (min-width: 560px) {
  .secondary-heading__textContainer {
    right: 100px;
  }
}

@media screen and (min-width: 960px) {
  .secondary-heading__textContainer {
    top: 50%;
    right: 170px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.secondary-heading__title {
  font-size: 52px;
  letter-spacing: 0;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.secondary-heading__subtitle {
  font-weight: bold;
  letter-spacing: 0;
}

.secondary-heading__indication {
  position: absolute;
  bottom: 0;
  left: 25px;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  width: 58px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media screen and (min-width: 560px) {
  .secondary-heading__indication {
    display: none;
  }
}

.secondary-heading__indication::before {
  content: "";
  display: block;
  height: 1px;
  width: calc(100vw - 66px - (75vw * 0.94));
  background-color: #333;
  position: absolute;
  top: 50%;
  right: -8px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.secondary-heading__indication::after {
  content: "";
  display: block;
  height: 1px;
  width: 84px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: calc(-7px - (100vw - 66px - 75vw * 0.94));
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.vision {
  padding: 80px 15px;
}

@media screen and (min-width: 560px) {
  .vision {
    padding-left: 150px;
  }
}

@media screen and (min-width: 960px) {
  .vision {
    max-width: 1100px;
    margin: 0 auto;
    padding: 120px 0 120px 270px;
  }
}

.vision__title {
  margin-bottom: 30px;
}

.vision__subtitle {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 30px;
}

.vision__text {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 2;
}

.vision__text:not(:last-of-type) {
  margin-bottom: 36px;
}

.message {
  margin: 0 15px 80px;
}

@media screen and (min-width: 560px) {
  .message {
    margin: 0 30px 80px;
  }
}

@media screen and (min-width: 960px) {
  .message {
    max-width: 1220px;
    margin: 0 auto 120px;
    padding: 0 60px;
  }
}

.message__img {
  display: block;
  width: 90%;
  margin-bottom: -100px;
}

@media screen and (min-width: 560px) {
  .message__img {
    width: 320px;
  }
}

@media screen and (min-width: 960px) {
  .message__img {
    width: 420px;
  }
}

.message__textContainer {
  padding: 126px 28px 80px;
  background-color: #f0f0f0;
}

@media screen and (min-width: 560px) {
  .message__textContainer {
    margin: 0 0 0 auto;
    padding: 109px 40px 80px;
    width: 500px;
  }
}

@media screen and (min-width: 960px) {
  .message__textContainer {
    width: 770px;
    padding: 120px 185px 90px;
  }
}

.message__title {
  margin-bottom: 30px;
}

.message__text {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 2;
}

.message__text:not(:last-of-type) {
  margin-bottom: 36px;
}

.company {
  padding: 0 15px 80px;
}

@media screen and (min-width: 560px) {
  .company {
    padding: 0 30px 80px;
  }
}

@media screen and (min-width: 960px) {
  .company {
    max-width: 1220px;
    padding: 0 60px 120px;
    margin: 0 auto;
  }
}

.company__title {
  border-bottom: solid 1px #ddd;
  padding-bottom: 30px;
}

.company__table {
  font-size: 14px;
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (min-width: 560px) {
  .company__table {
    margin: 0 0 40px auto;
    max-width: 678px;
  }
}

@media screen and (min-width: 960px) {
  .company__table {
    max-width: 800px;
  }
}

.company__table th {
  width: 40%;
  font-weight: bold;
  border-bottom: solid 1px #ddd;
  padding: 20px 0;
  text-align: left;
}

@media screen and (min-width: 560px) {
  .company__table th {
    width: 20%;
  }
}

.company__table td {
  width: 60%;
  border-bottom: solid 1px #ddd;
  padding: 20px 0;
}

@media screen and (min-width: 560px) {
  .company__table td {
    width: 80%;
  }
}

.company__map {
  width: 100%;
  height: 470px;
}

@media screen and (min-width: 560px) {
  .company__map {
    height: 230px;
  }
}

@media screen and (min-width: 960px) {
  .company__map {
    height: 360px;
  }
}

.contactPage {
  padding: 80px 15px;
}

@media screen and (min-width: 560px) {
  .contactPage {
    padding: 135px 50px 200px;
    max-width: 700px;
    margin: 0 auto;
  }
}

.contactPage__summary {
  font-size: 14px;
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: 0;
  line-height: 1.8;
  margin-bottom: 50px;
}

.form__container {
  margin-bottom: 40px;
}

.form__label {
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  display: block;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 12px;
}

.form__label.--mb20 {
  margin-bottom: 20px;
}

.form__label.--required {
  position: relative;
}

.form__label.--required::after {
  content: "必須";
  display: inline-block;
  width: 34px;
  height: 18px;
  font-size: 12px;
  background-color: #333;
  color: #fff;
  line-height: 18px;
  text-align: center;
  font-weight: normal;
  margin-left: 10px;
}

.form__radio {
  line-height: 20px;
}

.form__radio:not(:last-of-type) {
  margin-bottom: 15px;
}

@media screen and (min-width: 560px) {
  .form__radio {
    display: inline-block;
  }
  .form__radio:not(:last-of-type) {
    margin-right: 50px;
  }
}

.form input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: solid 1px #333;
  margin: 0;
  vertical-align: top;
  margin-right: 10px;
  position: relative;
}

.form input[type="radio"]:checked::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
}

.form__input {
  width: 100%;
  height: 48px;
  border: solid 1px #333;
  font-size: 16px;
}

.form__textarea {
  width: 100%;
  height: 210px;
  border: solid 1px #333;
  font-size: 16px;
}

@media screen and (min-width: 560px) {
  .form__textarea {
    height: 180px;
  }
}

.form__button {
  margin: 0 auto;
}

.privacyPolicy__label {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 10px;
}

.privacyPolicy__box {
  overflow-y: scroll;
  height: 226px;
  padding: 10px;
  border: solid 1px #333;
  margin-bottom: 40px;
}

.privacyPolicy__box p {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.privacyPolicy__box p:first-of-type {
  font-weight: bold;
  margin-bottom: 0;
}

.privacyPolicy__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 1px #333;
  height: 16px;
  width: 16px;
  margin: 3px 10px 0 0;
  position: relative;
}

.privacyPolicy__checkbox:checked::after {
  content: "\f00c";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
}

.privacyPolicy__agreeLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: 0;
  line-height: 1.8;
  margin-bottom: 40px;
}

@media screen and (min-width: 560px) {
  .privacyPolicy__agreeLabel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.u-title {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

@media screen and (min-width: 560px) {
  .u-title {
    font-size: 32px;
  }
}

.u-btn {
  display: block;
  width: 160px;
  height: 38px;
  color: #fff;
  background-color: #000;
  text-align: center;
  line-height: 38px;
  text-transform: uppercase;
  font-size: 11px;
}

.u-visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}
/*# sourceMappingURL=style.css.map */