*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: $font-en-main, "Helvetica Neue", Arial, $font-jp-main, $font-jp-sub, "Hiragino Kaku Gothic ProN",
		"Hiragino Sans", Meiryo, sans-serif;
}

a {
	transition: opacity 0.5s;
}

a:hover {
	opacity: 0.8;
}
