.secondary-heading {
  width: 100vw;
  height: calc(100vw * 1.2);
  position: relative;
  @include mq(s) {
    height: calc(100vw * 0.78);
  }
  @include mq(l) {
    height: calc(100vw * 0.32);
  }
  &.--small {
    height: 100vw;
    @include mq(s) {
      height: calc(100vw * 0.78);
    }
    @include mq(l) {
      height: calc(100vw * 0.32);
    }
  }
  &__bg {
    width: 50vw;
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vw * 1.2);
    background-color: $color-kv-bg;
    @include mq(s) {
      height: calc(100vw * 0.78);
    }
    @include mq(l) {
      height: calc(100vw * 0.32);
    }
    &.--small {
      height: 100vw;
      @include mq(s) {
        height: calc(100vw * 0.78);
      }
      @include mq(l) {
        height: calc(100vw * 0.32);
      }
    }
  }
  &__imgContainer {
    width: 75vw;
    position: absolute;
    top: 0;
    left: 0;
    img,
    source {
      width: 100%;
      vertical-align: bottom;
    }
  }
  &__textContainer {
    color: $color-white;
    position: absolute;
    top: 30%;
    right: 30px;
    @include mq(s) {
      right: 100px;
    }
    @include mq(l) {
      top: 50%;
      right: 170px;
      transform: translateY(-50%);
    }
  }
  &__title {
    font-size: 52px;
    letter-spacing: 0;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__subtitle {
    font-weight: bold;
    letter-spacing: 0;
  }
  &__indication {
    position: absolute;
    bottom: 0;
    left: 25px;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    width: 58px;
    transform: rotate(-90deg);
		transform-origin: bottom left;
		@include mq(s) {
			display: none;
		}
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: calc(100vw - 66px - (75vw * 0.94));
      background-color: $color-black;
      position: absolute;
      top: 50%;
      right: -8px;
      transform: translate(100%, -50%);
    }
    &::after {
      content: "";
      display: block;
			height: 1px;
			width: 84px;
			background-color: $color-white;
			position: absolute;
			top: 50%;
			right: calc(-7px - (100vw - 66px - 75vw * 0.94));
      transform: translate(100%, -50%);
    }
  }
}
